<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body style="background-color: lightblue;">
    <h1>Welcome!</h1>

    <p>Explore the meanings of Japanese words from images or text. Once you're done using the website, flashcards will be created for you automatically!</p>

    <!-- Display the uploaded image if available -->
    {% if image_data %}
    <h2>Uploaded Image</h2>
    <img src="data:image/jpeg;base64, {{ image_data }}" width="300">
    {% endif %}

    <!-- Add an image upload form -->
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload Image">
    </form>

    <!-- Add a text input field for user input -->
    <form action="/" method="POST">
        <label for="user_input">Enter text:</label>
        <input type="text" name="user_input" id="user_input">
        <input type="submit" value="Submit Text">
    </form>

    <!-- Display the user_input if available -->
    {% if user_input and request.method == 'POST' %}
    <h2>User Input</h2>
    <p>{{ user_input }}</p>
    {% endif %}

    <!-- Display the search result if available -->
    {% if search_result %}
    <h2>Search Result</h2>
    <p>{{ search_result }}</p>
    {% endif %}
</body>
</html>
